<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>Django Blog</title>
        <link rel='stylesheet' href="{% load static 'css/bootstrap.min.css'%}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">MY BLOG</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                {% if.user.is_authenticated %}
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'index_page' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'add_author_page'%}">Authors</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'blog_list_page'%}">Blogs</a>
                </li> 
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'Logout'%}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'sign_up_page'%}">Sign Up</a>
                </li>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Login'%}">Login</a>
              </li>
              {% endif %}
              </ul>
            </div>
          </nav>
        <div class="container">
           {% block content %}

           {% endblock content %}
        </div>   
    </body>
    </html> 