{% extend './base.html' %}
{%load crispy_form_tags %}
{% block content %}
        <h1>Edit - {{author.name}}</h1>

        <div class="container">
            <form method="POST">
                {% csrf_token%}
                {{form crispy}}
                <input type="submit" class="btn btn-primary">
                <input type="button" class="btn btn-danger">
                {% if message %} 
                {{message}}
                {% endif %}

            </form>
{% endblock content %}